<?xml version="1.0" encoding="iso-8859-1" ?> 
<config>
	<client>
		<server port="6667">irc.droso.net</server>
		<nickname>BimseBot</nickname>
		<realname>B. Imse</realname>
		<username>bimmerfooo</username>
		<channels>
			<channel>#bottest</channel>
		</channels>
	</client>
	<plugins>
		<!-- <plugin typename="TestPlugin.Class1" path="C:\Documents and Settings\Niels\My Documents\Visual Studio Projects\FnordBot\TestPlugin\bin\Debug\TestPlugin.dll" />
		<plugin typename="NielsRask.SortSnak.Plugin" path="C:\Documents and Settings\Niels\My Documents\Visual Studio Projects\FnordBot\SortSnak\bin\Debug\SortSnak.dll" /> -->
		<plugin typename="NielsRask.Wordgame.Plugin" path="C:\Documents and Settings\Niels\My Documents\Visual Studio Projects\FnordBot\Wordgame\bin\Debug\Wordgame.dll" />
	</plugins>
</config>
