<?xml version="1.0" encoding="iso-8859-1" ?> 
<config>
	<client>
		<server port="6667">panda.droso.net</server>
		<nickname>BimseBot</nickname>
		<altnick>BimmerBot</altnick>
		<realname>B. Imse</realname>
		<username>bimmerfooo</username>
		<channels>
			<channel>
				<name>#bottest</name>
				<messagerate messages="5" minutes="15"/>
			</channel>
		</channels>
	</client>
	<plugins>
		<plugin typename="NielsRask.SortSnak.Plugin" path="..\..\..\sortsnak\bin\debug\sortsnak.dll" >
			<settings>
				<vocabularyfilepath>..\..\..\sortsnak\vocabulary.dat</vocabularyfilepath>
				<answerchance>15</answerchance>
				<minimumoverlap>3</minimumoverlap>
				<simplechance>35</simplechance>
				<ambientsimplechance>10</ambientsimplechance>
				<autosaving>5</autosaving>
			</settings>
			<permissions>
				<permission name="CanOverrideSendToChannel" value="False" />
			</permissions>
		</plugin> 
		<plugin typename="NielsRask.Wordgame.Plugin" path="..\..\..\wordgame\bin\debug\wordgame.dll" >
			<settings>
				<wordlist>..\..\..\wordgame\wordlist.dat</wordlist>
			</settings>
			<permissions>
				<permission name="CanOverrideSendToChannel" value="True" />
			</permissions>
		</plugin> 
		<plugin typename="NielsRask.Logger" path="..\..\..\logger\bin\debug\logger.dll" >
			<settings>
				<logfolderpath>c:\</logfolderpath>
			</settings>
			<permissions>
				<permission name="CanOverrideSendToChannel" value="False" />
			</permissions>
		</plugin> 
	</plugins>
</config>
