<?xml version="1.0" encoding="iso-8859-1" ?> 
<config>
	<client>
		<server port="6667">irc.droso.net</server>
		<nickname>BimseBot</nickname>
		<altnick>BimmerBot</altnick>
		<realname>B. Imse</realname>
		<username>bimmerfooo</username>
		<channels>
			<channel>
				<name>#bottest</name>
				<messagerate messages="5" minutes="5"/>
			</channel>
		</channels>
	</client>
	<plugins>
		<!-- <plugin typename="TestPlugin.Class1" path="C:\Documents and Settings\Niels\My Documents\Visual Studio Projects\FnordBot\TestPlugin\bin\Debug\TestPlugin.dll" />-->
		<plugin typename="NielsRask.SortSnak.Plugin" path="plugins\sortsnak\sortsnak.dll" >
			<vocabularyfilepath>c:\vocabulary.dat</vocabularyfilepath>
			<permissions>
				<permission name="CanOverrideSendToChannel" value="False" />
			</permissions>
		</plugin> 
		<plugin typename="NielsRask.Wordgame.Plugin" path="plugins\wordgame\wordgame.dll" >
			<permissions>
				<permission name="CanOverrideSendToChannel" value="True" />
			</permissions>
		</plugin> 
		<plugin typename="NielsRask.Logger" path="plugins\logger\logger.dll" >
			<logfolderpath>c:\logs</logfolderpath>
			<permissions>
				<permission name="CanOverrideSendToChannel" value="False" />
			</permissions>
		</plugin> 
	</plugins>
</config>
